body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.showHeading{
    margin-top: 1rem;
}

/* showPage */

.card-text{
    margin-top: 0.5rem;
}

.show-img{
    height: 30vh;
}

/* newPage */

.container{
    flex: 1;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* navbar */
.navbar{
    height:5rem;
    background-color: #FFFAFA;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials,.f-info-links,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}


.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* cardEffect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

#filters{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filter{
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}
.filter:hover{
  opacity: 1;
  cursor: pointer;
}
.filter p{
  font-size: 0.9rem;
}
.tax-info{
  display: none;
}
.tax-toggle{
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 4rem;
}